
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Fichiers système et d'éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local logs
/symfony_access.log
/symfony_error.log

# Logs et fichiers temporaires
*.log
*.tmp
*.cache
